footer{
    height: 100px;
    background: #800000;
    padding: 40px;
    color:white;
}

body,.jumbotron{
    background-color: white;
}

.mai-top-header .navbar-brand {

background-image: url('../img/logo.png');
background-size:contain;
}
.search{
    border: 1px solid transparent;
background-color: #2ab77e;
color: #FFF;
width: 60%;
font-family: Raleway,sans-serif;
font-size: 1.308rem;
font-weight: 500;
padding: 8px 10px;
outline: 0;
-webkit-transition: border-color .3s ease;
-o-transition: border-color .3s ease;
transition: border-color .3s ease;

}

.login,.register{
    margin-left: 30%;
}