
.requests .material-icons{
    font-size: 40px;
}
.requests .blue-grey{
    
    background-color: rgba(0,0,0,0.7) !important;
}

label{
    color:white !important;
}
.s4 .select-wrapper{
    width:33%;
}

.requests a {
    margin-top: 5px;
    color:white !important;
    border:none !important;
}

.requests a:hover{
    color:white;
    border:1px solid #C29434;
}

body.request{
    background-image:url('../img/concierge.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-color:black;
    color:white !important;
    
}

body{
    padding-bottom:100px;
    background-image:url('../img/thamani.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center;
    background-color:black;
    color:white !important;
}


nav{
    background-color: black;
}

.logoDiv{
    background-color: black;
}

.header{
    text-align: center;
    margin: 0;
}
div#name,div#country{
    margin-bottom: 100px;
    padding:20px;
    background-color:rgba(0,0,0,0.4)
    
}

div#flights , div#hotels {
    color:white !important;
}

a.btn{
  background-color: #C29434;
}